/* =========================
   Reset e Tipografia Base
========================= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: normal;
}

p {
  margin-bottom: var(--space-md);
}
