.hero {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.hero .overlay {
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-load-more {
  background: var(--iptv);
}
